python --3.11.11
absl-py                   2.1.0
altair                    5.5.0
attrs                     24.3.0
audioread                 3.0.1
blinker                   1.9.0
certifi                   2024.12.14
cffi                      1.17.1
charset-normalizer        3.4.1
click                     8.1.8
colorama                  0.4.6
contourpy                 1.3.1
cycler                    0.12.1
decorator                 5.1.1
Flask                     3.1.0
Flask-Cors                5.0.0
flatbuffers               24.12.23
fonttools                 4.55.3
gitdb                     4.0.11
GitPython                 3.1.43
h5py                      3.12.1
idna                      3.10
imageio                   2.36.1
imageio-ffmpeg            0.5.1
itsdangerous              2.2.0
jax                       0.4.38
jaxlib                    0.4.38
Jinja2                    3.1.5
joblib                    1.4.2
jsonschema                4.23.0
jsonschema-specifications 2024.10.1
keras                     3.7.0
kiwisolver                1.4.8
lazy_loader               0.4
librosa                   0.10.2.post1
llvmlite                  0.43.0
markdown-it-py            3.0.0
MarkupSafe                3.0.2
matplotlib                3.10.0
mediapipe                 0.10.20
ml_dtypes                 0.5.1
moviepy                   2.1.2
msgpack                   1.1.0
numba                     0.60.0
numpy                     1.26.4
opencv-contrib-python     4.10.0.84
opencv-python             4.10.0.84
opt_einsum                3.4.0
packaging                 24.2
pandas                    2.2.3
pillow                    10.4.0
pip                       24.2
platformdirs              4.3.6
pooch                     1.8.2
praat-parselmouth         0.4.5
proglog                   0.1.10
protobuf                  4.25.5
pycparser                 2.22
pydub                     0.25.1
pyparsing                 3.2.1
pypdf                     5.1.0
PyPDF2                    3.0.1
python-dateutil           2.9.0.post0
python-dotenv             1.0.1
pytz                      2024.2
requests                  2.32.3
rich                      13.9.4
scikit-learn              1.6.1
scipy                     1.15.1
sentencepiece             0.2.0
setuptools                75.1.0
six                       1.17.0
sounddevice               0.5.1
soundfile                 0.13.0
soxr                      0.5.0.post1
SpeechRecognition         3.14.0
tensorboard               2.18.0
tensorflow_intel          2.18.0
threadpoolctl             3.5.0
tqdm                      4.67.1
typing_extensions         4.12.2
tzdata                    2024.2
urllib3                   2.3.0
Werkzeug                  3.1.3
wheel                     0.44.0